@import 'vars';
@import "@fontsource/inter";

$family-primary: 'Inter';
$primary: $bl-primary;
// $text: black;
$dropdown-item-active-background-color: $bl-primary;

@import 'bulma/bulma';

.input {
	box-shadow: none;
}

hr {
	background: $bl-primary-light;
}